<p><a asp-controller="API" asp-action="GetAllLists">Click here to get all to do lists</a></p>
<p><a asp-controller="API" asp-action="GetOneList">Click here to get one to do list</a></p>
<p><a asp-controller="API" asp-action="GetAllItems">Click here to get all to do items</a></p>
<p><a asp-controller="API" asp-action="GetOneItem">Click here to get all to do items</a></p>
